@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: all .2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.painting-container {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.painting-block {
  background-color: #fff;
  position: relative;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 7px 7px 15px grey;
}

.canvas {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.painting-block-up {
  z-index: 500;
  background-color: #fff;
  box-shadow: 7px -5px 15px grey;
  border: 1px solid black;
  border-bottom: none;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  position: absolute;
  display: flex;
  height: 41.07px;
  width: calc(41.07 * 5px);
  top: -43px;
  left: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.painting-el {
  flex: 1;
  align-items: center;
  height: 100%;
  padding: 5px;
  cursor: pointer;
}

.circle {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colors {
  width: 85%;
  height: 85%;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid black;
  background-color: black;
}

.colors-input {
  visibility: hidden;
  position: absolute;
}

.colors-border {
  width: 85%;
  height: 85%;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid black;
  background-color: black;
}

.colors-input-border {
  visibility: hidden;
  position: absolute;
}

.close {
  width: 85%;
  height: 85%;
  border-radius: 100%;
}

.close svg {
  height: 100%;
  width: 100%;
}

.apply {
  width: 85%;
  height: 85%;
  border-radius: 100%;
}

.apply svg {
  height: 100%;
  width: 100%;
}

.clear {
  width: 85%;
  height: 85%;
  border-radius: 100%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: purple;
}

.menu .menu-item.unavailable {
  cursor: default;
  opacity: .5;
}

.menu .menu-item.unavailable:hover {
  background: inherit;
}

.custom-message {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 24px;
  text-align: center;
  color: #3b34a4;
  padding: 15px;
  border: 3px solid #9cd19c;
  background-color: #fff;
}

.cat {
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 1;
}

.clicks-counter__timer {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}