@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: all .2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.menu .menu-item.unavailable {
  cursor: default;
  opacity: .5;
}

.menu .menu-item.unavailable:hover {
  background: inherit;
}

.custom-message {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 24px;
  text-align: center;
  color: #3b34a4;
  padding: 15px;
  border: 3px solid #9cd19c;
  background-color: #fff;
}

.cat {
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 1;
}

.clicks-counter__timer {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
